html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
html {
  color-scheme: dark;
}
body {
  color: white;
  background: black;
}

.app {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left:50px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 10px;
}

button {
    padding: 10px;
    border: 2px solid #222;
    border-radius: 5px;
    background-color: #222;
    font-size: 20px;
}

button:hover {
  background-color: #444;
}

.canvases {
    display: grid;
    border: 2px solid gray;
}

.canvas-main, .canvas-pixels {
    grid-column: 1;
    grid-row: 1;
}

.canvas-main {
    border: 1px solid black;
    border-radius: 5px;
    opacity: 0; /* makes the drawing canvas invisible, so can overlay the pixelated one */
}

.canvas-small {
    opacity: 0; /* this should also be invisible, but is necessary for scaling to achieve pixelated effect */
}

.title-label {
    align-self: center;
    padding: 0;
    margin: 0;
    font-size: 50pt;
}

.currently-detecting-label {
    align-self: center;
    padding: 0;
    margin: 0;
    font-size: 50pt;
}

.results-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.pred-container {
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30pt;
}

